/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
body {
	    margin: 0;
		font-family: 'Play', sans-serif;
}

 p, ol, ul, td {
	 margin:0;
 }
.clearfix {
	clear: both;
}
#banner {
 background: ;
padding: 15px 10px 5px 10px;
 border-bottom: 2px solid;
 font: small-caps 30px/40px "Times New Roman", serif;
     color: #f44336;
     background: #252525;
font-family: 'Press Start 2P', cursive;
}

#banner img {
  width: 57px;
    vertical-align: middle;
    margin-right: -13px;
    position: relative;
    top: -6px;
 }
 
h2 {
	margin: 0;
	padding: 10px 0;
}
 
 
 #side {
      background: rgb(162, 20, 10);
 }
 #side li {
    list-style: none; 
	float: left;
	padding: 10px;
 }
 #side li a {
   color: #fff;
 }
 #side li a:hover {
   background: none;
 }
 
 #main {
	       background: #fff;
		   padding: 10px 50px;
 }
 
 table {
	     width: 100%;
 }
 .products table tr td {
    padding: 5px;
    vertical-align: top;
    width: auto;
    display: block;
 }
.products .list_line_even, .products .list_line_odd {
    background: #ffffff;
    box-shadow: 0 0 7px #999;
    -webkit-box-shadow: 0 0 7px #999;
    -moz-box-shadow: 0 0 7px #999;
    -o-box-shadow: 0 0 7px #999;
    padding: 10px;
	    display: block;
		position: relative;
		margin: 10px 0;
		width: 100%;
	
 }
 
 .products .list_actions {
	 position:absolute;
	 right: 0;
	 top:0;
 }

 .store .entry .price {
	 display: block;
 }
 .store .entry h3 {
	 margin-left: 0;
 }
 .store .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;
    padding: 10px;
 }
 
#notice {
 color: #000 !important;
 border: 2px solid red;
 padding: 1em;
 margin-bottom: 2em;
 background-color: #f0f0f0;
 font: bold smaller sans-serif;
}

#columns {
 background: #d4d49b;

 #main {
 margin-left: 17em;
 padding: 1em;
 background: white;
 }

 #side {
 float: left;
 padding: 1em 2em;
 width: 13em;
 background: #141;

 ul {
 padding: 0;

 li {
 list-style: none;

 a {
 color: #bfb;
 font-size: small;
 }
 }
 }
 }
}
